<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}GCadmin</title>
            <link href="vistas/bootstrap/css/application.min.css" rel="stylesheet">
            <link rel="icon" href="vistas/bootstrap/img/logos.png">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">
            <meta charset="utf-8">
        {% endblock head %}
    </head>
    <body {% block landing %}class="background-dark"{% endblock landing %}>
        {% block logo %}
        <div class="logo">
            <h4><a href="inde.php">GC <strong>admin</strong></a></h4>
        </div>
        {% endblock logo %}
        {% block invar %}
            <nav id="sidebar" class="sidebar nav-collapse collapse">
                <ul id="side-nav" class="side-nav">
                    <li class="active">
                        <a href="inde.php"><i class="fa fa-home"></i> <span class="name">Inicio</span></a>
                    </li>
                    {% block varOption %}
    {% if valido is defined %}
        {% if valido.tipo == true %}
            <li class="panel">
                <a class="accordion-toggle collapsed" data-toggle="collapse"
                   data-parent="#side-nav" href="#Reportes"><i class="fa fa-edit"></i> <span class="name">Reportes</span></a>
                <ul id="Reportes" class="panel-collapse collapse">
                        {% set foo = -1 %}
                    {% for key,condominio in valido.datos if key != foo %}
                        {% set foo = key %}
                        <li class="panel">
                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                               data-parent="#menu-levels-collapse" href="#sub-menu-1-collapse">{{condominio['con_nombre']}}</a>
                            <ul id="sub-menu-1-collapse" class="panel-collapse collapse">
                                {% for koy,condom in valido['datos'][key] if koy == 'pro_numero' %}
                                    <li><a href="ingresarTipoGasto.php?propiedad={{valido['datos'][key]['pro_id']}}">{{condom}}</a></li>
                                 {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="panel">
                <a class="accordion-toggle collapsed" data-toggle="collapse"
                 data-parent="#side-nav" href="#Estadisticas"><i class="fa fa-bar-chart-o"></i> <span class="name">Estadisticas</span></a>
                <ul id="Estadisticas" class="panel-collapse collapse">
                        {% set foo = -1 %}
                    {% for key,condominio in valido.datos if key != foo %}
                        {% set foo = key %}
                    <li class="panel">
                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                           data-parent="#menu-levels-collapse" href="#sub-menu-2-collapse">{{condominio['con_nombre']}}</a>
                        <ul id="sub-menu-2-collapse" class="panel-collapse collapse">
                                {% for koy,condom in valido['datos'][key] if koy == 'pro_numero' %}
                                    <li><a href="ingresarTipoGasto.php?propiedad={{valido['datos'][key]['pro_id']}}">{{condom}}</a></li>
                                {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}{% if valido.tipo == false %}
            <li class="panel">
                <a class="accordion-toggle collapsed" data-toggle="collapse"
                   data-parent="#side-nav" href="#Reportes"><i class="fa fa-edit"></i> <span class="name">Reportes</span></a>
                <ul id="Reportes" class="panel-collapse collapse">
                        {% set foo = -1 %}
                    {% for key,condominio in valido.datos if key != foo %}
                        {% set foo = key %}
                        <li><a href="MantenedorTipoGasto.php?condominio={{valido['datos'][key]['con_id']}}">{{condominio['con_nombre']}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="panel">
                <a class="accordion-toggle collapsed" data-toggle="collapse"
                 data-parent="#side-nav" href="#Estadisticas"><i class="fa fa-bar-chart-o"></i> <span class="name">Estadisticas</span></a>
                <ul id="Estadisticas" class="panel-collapse collapse">
                        {% set foo = -1 %}
                    {% for key,condominio in valido.datos if key != foo %}
                        {% set foo = key %}
                        <li><a href="ingresarTipoGasto.php?condominio={{valido['datos'][key]['con_id']}}">{{condominio['con_nombre']}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="panel">
                <a class="accordion-toggle collapsed" data-toggle="collapse"
                   data-parent="#side-nav" href="#Subir-Gastos"><i class="fa fa-magic"></i> <span class="name">Subir Gastos</span></a>
                <ul id="Subir-Gastos" class="panel-collapse collapse">
                    <li><a href="ui_buttons.html">Comunes</a></li>
                    <li><a href="ui_dialogs.html">Adicionales</a></li>
                </ul>
            </li>
            <li class="panel">
                <a class="accordion-toggle collapsed" data-toggle="collapse"
                   data-parent="#side-nav" href="#Mantenedor-Tablas"><i class="fa fa-bookmark-o"></i> <span class="name">Mantenedor Tablas</span></a>
                <ul id="Mantenedor-Tablas" class="panel-collapse collapse">
                    <li><a href="component_calendar.html">Tipo Gasto</a></li>
                </ul>
            </li>
        {% endif %}
        {% endif %}
    {% endif %}
                    {% endblock varOption %}

                    <li class="visible-xs">
                        <a href="login.html"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
                    </li>
                </ul>
                <div id="sidebar-settings" class="settings">
                    <button type="button"
                            data-value="icons"
                            class="btn-icons btn btn-transparent btn-sm">Icons</button>
                    <button type="button"
                            data-value="auto"
                            class="btn-auto btn btn-transparent btn-sm">Auto</button>
                </div>
            </nav>
        {% endblock invar %}
        {% block contenido %}
        <div class="wrap">
            {% block pageHeader %}
                <header class="page-header">
                    <div class="navbar">
                            <ul class="nav navbar-nav navbar-right pull-right">
                                <li class="hidden-xs">
                                    <a href="stat_statistics.html#" id="settings"
                                       title="Settings"
                                       data-toggle="popover"
                                       data-placement="bottom">
                                        <i class="fa fa-cog"></i>
                                    </a>
                                </li>
                                <li class="hidden-xs dropdown">
                                    <a href="stat_statistics.html#" title="Account" id="account"
                                       class="dropdown-toggle"
                                       data-toggle="dropdown">
                                        <i class="fa fa-user"></i>
                                    </a>

                                    <ul id="account-menu" class="dropdown-menu account" role="menu">
                                        <li role="presentation" class="account-picture">
                                                <i class="fa fa-user"></i>
                                                {{valido['usuario']}}
                                        </li>
                                    </ul>
                                </li>
                                <li class="visible-xs">
                                    <a href="#"
                                       class="btn-navbar"
                                       data-toggle="collapse"
                                       data-target=".sidebar"
                                       title="">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </li>
                                <li class="hidden-xs"><a href="logaut.php"><i class="fa fa-sign-out"></i></a></li>
                            </ul>
                    </div>
                </header>
            {% endblock pageHeader %}

            {% block content %}
            <div class="loader-wrap hiding hide">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            {% endblock content %}
        </div>
        {% endblock contenido %}
    {% block footer %}
        <div id="footer">
            &copy; Copyright 2011 by <a href="http://dominio.invalido/">
                                                 tú
                                             </a>.
        </div>
    {% endblock %}
    </body>
    {% block scriptis %}

    <!-- jquery and friends -->
    <script src="vistas/bootstrap/lib/jquery/jquery-2.0.3.min.js"> </script>
    <script src="vistas/bootstrap/lib/jquery-pjax/jquery.pjax.js"></script>


    <!-- jquery plugins -->
    <script src="vistas/bootstrap/lib/jquery-maskedinput/jquery.maskedinput.js"></script>
    <script src="vistas/bootstrap/lib/parsley/parsley.js"> </script>
    <script src="vistas/bootstrap/lib/icheck.js/jquery.icheck.js"></script>
    <script src="vistas/bootstrap/lib/select2.js"></script>
    <script src="vistas/bootstrap/lib/jquery.autogrow-textarea.js"></script>


    <!--backbone and friends -->
    <script src="vistas/bootstrap/lib/backbone/underscore-min.js"></script>

    <!-- bootstrap default plugins -->
    <script src="vistas/bootstrap/lib/bootstrap/transition.js"></script>
    <script src="vistas/bootstrap/lib/bootstrap/collapse.js"></script>
    <script src="vistas/bootstrap/lib/bootstrap/alert.js"></script>
    <script src="vistas/bootstrap/lib/bootstrap/tooltip.js"></script>
    <script src="vistas/bootstrap/lib/bootstrap/popover.js"></script>
    <script src="vistas/bootstrap/lib/bootstrap/button.js"></script>
    <script src="vistas/bootstrap/lib/bootstrap/dropdown.js"></script>
    <script src="vistas/bootstrap/lib/bootstrap/modal.js"></script>

    <!-- bootstrap custom plugins -->
    <script src="vistas/bootstrap/lib/bootstrap-datepicker.js"></script>
    <script src="vistas/bootstrap/lib/bootstrap-select/bootstrap-select.js"></script>
    <script src="vistas/bootstrap/lib/wysihtml5/wysihtml5-0.3.0_rc2.js"></script>
    <script src="vistas/bootstrap/lib/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    <script src="vistas/bootstrap/lib/bootstrap-switch.js"></script>
    <script src="vistas/bootstrap/lib/bootstrap-colorpicker.js"></script>

    <!-- basic application js-->
    <script src="vistas/bootstrap/js/app.js"></script>
    <script src="vistas/bootstrap/js/settings.js"></script>

    <!-- page specific -->
    <script src="vistas/bootstrap/js/forms-elemets.js"></script>

    <script type="text/template" id="settings-template">
        <div class="setting clearfix">
            <div>Background</div>
            <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
                <% dark = background == 'dark'; light = background == 'light';%>
                <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
                <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
            </div>
        </div>
        <div class="setting clearfix">
            <div>Sidebar on the</div>
            <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
                <% onRight = sidebar == 'right'%>
                <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
                <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
            </div>
        </div>
        <div class="setting clearfix">
            <div>Sidebar</div>
            <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
                <% display = displaySidebar%>
                <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
                <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
            </div>
        </div>
        <div class="setting clearfix">
            <div>White Version</div>
            <div>
                <a href="white/" class="btn btn-sm btn-transparent">&nbsp; Switch &nbsp;   <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </script>

    <script type="text/template" id="sidebar-settings-template">
            <% auto = sidebarState == 'auto'%>
            <% if (auto) { %>
                <button type="button"
                        data-value="icons"
                        class="btn-icons btn btn-transparent btn-sm">Icons</button>
        <button type="button"
                data-value="auto"
                class="btn-auto btn btn-transparent btn-sm">Auto</button>
            <% } else { %>
                <button type="button"
                        data-value="auto"
                        class="btn btn-transparent btn-sm">Auto</button>
            <% } %>
    </script>
    {% endblock scriptis %}
</html>