{% extends 'base.html.twig' %}

{% block title %}Gráficos - {% endblock title %}

{% block content %}
	<div class="content container">
	    <div class="row">
	        <div class="col-md-12">
	            <h2 class="page-title"><strong>Gráfico Común</strong></h2>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-md-10">
	            <section class="widget">
	                <header>
	                </header>
	                <div class="body">
	                    <form class="form-horizontal" action="datos_graficosComun.php" method="POST">
	                        <fieldset>
		                        <div class="control-group">
		                        	<div class="control-group">
	                                <label class="control-label " for="disabled-input">Conjunto ID </label>
	                                <div class="controls form-group">
	                                    <div class="col-sm-4">
	                                        <input type="text" id="disabled-input" name="id" class="form-control" 
	                                        value="{{conjunto}}" readonly="readonly" >
	                                    </div>
	                                </div>
	                            </div>
	                        	<div class="control-group">
			                        <label class="control-label" for="default-select">Tipo Gasto </label>
			                        <div class="controls form-group">
			                            <select name="conjunto"
			                                    class="chzn-select col-md-4" id="default-select">
			                                {% for tgasto in tgasto %}
							                    <option value={{tgasto['tga_id']}}>{{tgasto['tga_nombre']}}</option>
								            {% endfor %}	                          	
			                            </select>
							    </div>

		                        <label class="control-label" for="default-select">Fecha inicial </label>
		                        <div class="controls form-group">
		                            <select name="conjunto"
		                                    class="chzn-select col-md-4" id="default-select">
		                                {% for fechas_ini in fechas_ini %}
						                    <option value={{fechas_ini['gas_fecha']}}>{{fechas_ini['gas_fecha']}}</option>
							            {% endfor %}	                          	
		                            </select>
							    </div>

		                        <label class="control-label" for="default-select">Fecha final </label>
		                        <div class="controls form-group">
		                            <select name="conjunto"
		                                    class="chzn-select col-md-4" id="default-select">
		                                {% for fechas_ter in fechas_ter %}
						                    <option value={{fechas_ter['gas_fecha']}}>{{fechas_ter['gas_fecha']}}</option>
							            {% endfor %}	                          	
		                            </select> <br/><br/><br/>
		                            <button type="submit" name="subit" class="btn btn-primary" value="Ver" >Ver Gráfico</button>
							    </div>

		                    </div>
	                        </fieldset>
	                    </form>
	                </div>
	            </section>
	        </div>
	    </div>
	</div>
{{ parent() }}
{% endblock %}

{% block footer %}{% endblock %}