{% extends "base.html.twig" %}

{% block title %}Reportes - {% endblock title %}

{% block content %}

    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">Reportes de <strong>Copropietarios por Propiedad</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <section class="widget">
                    <header>
                    </header>
                    <div class="body">
                        <table class="table table-striped table-images">
                            <thead>
                            <tr>
                                <th>Run</th>
                                <th>Nombre</th>
                                <th>Propiedad</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for dato in reporte %}
                                    <tr>
                                        <td>
                                            {{dato['cop_run']}}
                                        </td>
                                        <td>
                                            {{dato['cop_nombres']}} {{dato['cop_ap_paterno']}} {{dato['cop_ap_materno']}}
                                        </td>
                                        <td>
                                            {{dato['pro_numero']}}
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-info" data-toggle="button" onClick='location.href="verReporte.php?button2={{dato['cop_run']}}&button3={{conjunto}}"'>
                                                Ver más
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
{{ parent() }}
{% endblock %}

{% block footer %}{% endblock %}